ffmpeg<5
fastapi~=0.103.1
uvicorn~=0.23.2
PyMuPDF
pandas
python-multipart~=0.0.6
python-dotenv~=1.0.0
awscli==1.29.62
click
coverage
botocore==1.31.62
numpy==1.24.4
Pillow~=10.0.0
setuptools~=60.2.0
psycopg2-binary
pydantic~=2.4.2
starlette~=0.27.0
websockets
websocket-client~=1.5.1
requests~=2.28.2
openpyxl
